
@font-face {
    font-family: 'shabnam';
    src: url('../webfonts/shabnam-fd.ttf') format('truetype'),url('../webfonts/shabnam-fd.eot') format('embedded-opentype'),url('../webfonts/shabnam-fd.woff') format('woff'),url('../webfonts/shabnam-fd.woff2') format('woff2');
}
